body{
	background-color: #505150;
}

#header {
	border: 0px; 
	margin: 0;
	}

#headertop { 
	height: 150px; 
	background: #FFFFFF;
	}

#headerinner{
	width: 960px;
	margin: 0 auto;
}

#logo{
  position: relative;
  top: 0px;
	z-index: 2;
	width: 300px;
}

#navigation{
	position: relative;
	margin: 0 auto;
	top: -50px;
	padding-right: 10px;
	width: 960px;
	text-align: right;
	font-family: "Gotham-Book";
	color: #3952A3;
	font-size: 20px;
	word-spacing: 30px;
}

#navigation a{
	text-decoration: none;
	color: #3952A3;
}

#navigation a:hover{
	text-decoration: underline;
}


#bluestripe {
  position: relative;
	height:20px; 
	margin: 0px; 
	background:#3952A3;
	-webkit-box-shadow: -1px 11px 33px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 11px 33px -6px rgba(0,0,0,0.75);
	box-shadow: -1px 11px 33px -6px rgba(0,0,0,0.75);
	z-index: 1;
	}		

#wrapper {
	margin: 0;
	z-index: 0;
	}

#main { 
	width: 960px;
	margin: 0 auto;
	text-align: left; 
	border: 0px; 
	background: #FFFFFF;
	height: 600px;
	z-index: 0s;
	}
	
#delimiter { 
	clear: both; 
	}
	
#footer { 
	background: #1F1F1F;
	margin-bottom:-8px;
	height: 100px;
	}

html {
    background-image: url("heartsbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#all {
    width: 90%;
    background-color: white;
    border: 1px solid black;
}
#all h1 {
    font-family: 'Lobster', cursive;
    width: 100%;
    font-size: 60px;
    margin-bottom: 2px;
}

#all h2 {
    font-family: 'Rokkitt', serif;
    color:  white;
    font-size: 38px;
    background: #3952A3;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
    border-bottom: 1px solid red;
}

#all h3 {
    font-family: 'Rokkitt', serif;
    color: white;
    background: red;
    text-align: center;
    border-bottom: 1px solid red;
    padding-left: 10%;
    padding-right: 10%; 
}

#all p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 2px;
    text-indent: 10%;
}

#all h4 {
    font-family: 'Rokkitt', serif;
    color: white;
    background: #e56b92;
    text-align: center;
    border-bottom: 1px solid red;
    padding-left: 10%;
    padding-right: 10%; 
}

#all ul {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    list-style-type: square;
}
#all ol {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#left {
    box-sizing:border-box;
    float: left;
    width: 41%;
    padding: 10px;
    margin: 20px;
    margin-left: 6%;
    margin-right: 3%;
    border: 1px solid blue;
}
#middle {
    box-sizing:border-box;
    float: left;
    width: 41%;
    padding: 10px;
    margin: 20px;
    margin-left: 3%;
    margin-right: 6%;
    border: 1px solid blue;
}

#right {
    box-sizing:border-box;
    float: left;
    width: 41%;
    padding: 10px;
    margin: 20px;
    margin-left: 6%;
    margin-right: 6%;
    border: 1px solid blue;
}
#all p {
    text-align: left;
    padding: 0px;
    padding-top: 15px;
    margin: 0px;
}

#left img {
    width: 80%;
    padding: 5px;
    border: 1px solid red;
    margin-left: 10%;
    margin-right: 10%; 
}

#middle img {
    width: 80%;
    padding: 5px;
    border: 1px solid red;
    margin-left: 10%;
    margin-right: 10%; 
}
#right img {
    padding: 5px;
    border: 1px solid red;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; 
}
#below
{
    box-sizing:border-box;
    clear: both;
    margin: 0;
    color: #333;
    background-color: white;
    border-top: 1px solid gray;
    border: 1px solid black;
}

#below img {
    padding: 5px;
    border: 1px solid red;
    float: left;
    width: 20%;
    margin: 2%;
}

#floatingrighttext {
    float: right;
    width: 70%;
}

#footer
{
    box-sizing:border-box;
    clear: both;
    margin: 0;
    color: #333;
    background-color: white;
    border-top: 1px solid gray;
    border: 1px solid black;
}


@font-face {
  font-family: 'Gotham-Book';
  src: url('./fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
  		 url('./fonts/Gotham-Book.otf')  format('opentype'),
	     url('./fonts/Gotham-Book.woff') format('woff'), 
	     url('./fonts/Gotham-Book.ttf')  format('truetype'), 
	     url('./fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

